::selection {
  background-color: var(--light-black);
  color: var(--accent);
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: var(--main-font);
  color: var(--light-black);
  background: var(--light-black);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}